In [1]:
import pandas as pd
import requests, json

In [5]:
def load_data() -> pd.DataFrame:
    req = requests.get("http://localhost:8000/api/strokesgained-detail-api/")
    raw_data = json.loads(req.text)
    df = pd.DataFrame(raw_data)

    return df


def barchart_preprocessing(df: pd.DataFrame):
    # fixing the dtypes of the strokes gained columns
    sg_cols: list[str] = [i for i in df.columns if "sg" in i]
    for col in sg_cols:
        df[col] = df[col].astype("float")

    return df.groupby("name")[sg_cols].mean()

In [9]:
df = load_data()
grouped = barchart_preprocessing(df)
grouped.iloc[[0], :]

                 sg_putt    sg_arg  sg_app    sg_ott  sg_t2g  sg_total
name
Aaron Baddeley  0.176667 -0.173333   -1.64 -0.296667   -2.11 -1.933333

In [21]:
field = pd.DataFrame(grouped.mean()).T
field.index = pd.Index(["Field"])
pd.concat([grouped.iloc[[0], :], field])

                 sg_putt    sg_arg    sg_app    sg_ott    sg_t2g  sg_total
Aaron Baddeley  0.176667 -0.173333 -1.640000 -0.296667 -2.110000 -1.933333
Field          -0.211036 -0.147247 -0.246717 -0.166122 -0.559789 -0.770419

In [19]:
field.index = pd.Index(["field"])
field

        sg_putt    sg_arg    sg_app    sg_ott    sg_t2g  sg_total
field -0.211036 -0.147247 -0.246717 -0.166122 -0.559789 -0.770419